@font-face {
  src: url("../public/assets/iransans/IRANSansWeb.eot");
  src: url("../public/assets/iransans/IRANSansWeb.ttf");
  src: url("../public/assets/iransans/IRANSansWeb.woff");
  src: url("../public/assets/iransans/IRANSansWeb.woff2");




  font-family: "iransans";
}


html,
body {
  padding: 0;
  margin: 0;
  font-family: "iransans" !important;
  font-weight: 400 !important;

}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: "iransans" !important;
  font-weight: 400 !important;
}
.css-17vbkzs-MuiFormControl-root-MuiTextField-root{
  margin: 0 !important;
}

.css-15wwp11-MuiTableHead-root{
  background: #fafafa;
}
