.container{
  padding: 100px 32px 32px;
  background: #fafafa;
  min-height: 100vh;
  direction: rtl;

}
.box{
  background: white;
  border-radius: 15px;
  padding: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  max-width: 1200px;
  margin: auto;
}
.textCount{
  display: inline-block;
  color: rgba(0,0,0,0.5);
}
.dot{
  display: inline-block;
  width: 8px;
  height: 8px;
  background: #fbbd06;
  border-radius: 50%;
  margin-left: 5px;
}
.title{
  margin: 0;
  margin-left: 50px;
    font-weight: 700 !important;
}